# Based on: GitHub Actions: "Publish Docker Container"
#
# GitHub Actions workflow to build and publish a docker image to the GitHub Container Registry
# Author: Wolf Paulus (https://wolfpaulus.com)
#
# This workflow will build a docker image and publish it to the GitHub Container Registry
# For more information see: https://docs.github.com/en/actions/guides/publishing-docker-images
#
# This workflow creates a Multi-platform image with GitHub Actions, for linux/amd64,linux/arm64/v8
# The following resources were very helpful:
# https://collabnix.com/error-multiple-platforms-feature-is-currently-not-supported-for-docker-driver/
# https://depot.dev/blog/multi-platform-docker-images-in-github-actions
#
name: docker-publish
env:
  REGISTRY: ghcr.io # GitHub Container Registry
  IMAGE_NAME: ${{ github.repository }}
on:
  workflow_run:
    workflows: [run-tests]
    types:
      - completed

jobs:
  publish-docker-image:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      # QEMU is a generic and open source machine & userspace emulator and virtualizer.
      # Buildx is a Docker CLI plugin for extended build capabilities with BuildKit.
      # It provides the same functionality as docker build with many new features.
      # The docker/setup-qemu-action action sets up QEMU for use in GitHub Actions.
      # The docker/setup-buildx-action action sets up Docker Buildx for use in GitHub Actions.
      # The docker/build-push-action action builds and pushes Docker images to a registry.
      - name: convert IMAGE_NAME to lowercase, setup QEMU and Buildx
        run: |
          echo "REGISTRY=${REGISTRY}" >> $GITHUB_ENV
          echo "IMAGE_NAME=${IMAGE_NAME,,}" >> $GITHUB_ENV
      - uses: actions/checkout@v6
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64/v8
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64/v8
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
